* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: "Prompt", sans-serif;
}

.header {
  background-color: #af0909;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 30px;
}
.header ul {
  list-style-type: none;
}
.header li {
  display: inline-block;
}
.header a {
  color: #fff;
  text-decoration: none;

  transition: all 0.5s;
}
.header a:hover {
  color: #610909;
  font-size: 1.1rem;
}
main {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}
section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
}
h2 {
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
}
.card {
  padding: 25px;
  margin: 20px 0;
  border: 1px solid #61090934;
  border-radius: 20px;
}
footer {
  background-color: #af0909;
  color: #fff;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    background-color: rgb(22, 22, 136);
  }
  .header a:hover {
    color: rgb(8, 8, 92);
  }
  footer {
    background-color: rgb(22, 22, 136);
  }
}
