/* ROOT VARIABLES */
:root {
  --color-white: #fff;
  --color-gray: #e7e9f0;
  --color-darkblue: #1e293b;
  --color-green: #8dd651;
  --color-red: #e02d2d;
  --color-yellow: #ffff68;

  --color-primary: #4f46e5;
  --color-text: #64748b;
  --color-background: #f8fafc;
}

/* DARK MODE */
.dark-theme {
  --color-white: #171a21;
  --color-gray: #282d36;
  --color-darkblue: #abb6c9;
  --color-green: #65a332;
  --color-red: #8d1111;
  --color-yellow: #eeee00;

  --color-primary: #4f46e5;
  --color-text: #a1a1aa;
  --color-background: #0f1117;
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  list-style-type: none;
  text-decoration: none;
  transition: all 0.3s;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 0.9rem;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Prompt", sans-serif;
  overflow-x: hidden;
}

/* HEADER */
.header {
  background-color: var(--color-white);
  color: var(--color-darkblue);
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 30px;
}
.nav-bar li {
  display: inline-block;
}
.nav-bar a {
  padding: 0 15px;
  color: var(--color-darkblue);
}
.nav-bar a:hover {
  color: var(--color-text);
}

/* LINKS */
.links {
  display: flex;
  gap: 0.8rem;
}
.links li {
  display: inline-block;
  font-size: 1.2rem;
}
.links i {
  color: var(--color-darkblue);
}
.links i:hover {
  color: var(--color-text);
}
/* THEME SWITCH */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6rem;
  width: 1.8rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-gray);
}
.btn span {
  color: var(--color-darkblue);
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn span:last-child {
  display: none;
}
.btn span:hover {
  color: var(--color-text);
}
.dark-theme .btn span:first-child {
  display: none;
}
.dark-theme .btn span:last-child {
  display: flex;
}
/* MAIN */
main {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}
h2 {
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
  color: var(--color-text);
}

/* CARD */
.card {
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
}

/* FOOTER */
footer {
  background-color: var(--color-white);
  color: var(--color-darkblue);
}

/* MEDIA */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .header a:hover {
    color: var(--color-text);
  }
}
